doctype html

html(lang="en-US")
  head
    title Ajedrez
    script(src="/javascripts/front.js")
    link(rel="stylesheet" href="/stylesheets/styles.css")
  body
    header
      h1 Ajedrez
    
    main  
      block home
