extends layout

block game
  div(class="game-board")
    div(class="square black")
      img(src="/images/rook2.png", alt="settings-icon")
    div(class="square")
      img(src="/images/knight2.png", alt="settings-icon")
    div(class="square black")
      img(src="/images/bishop2.png", alt="settings-icon")
    div(class="square")
      img(src="/images/king2.png", alt="settings-icon")
    div(class="square black")
      img(src="/images/queen2.png", alt="settings-icon")
    div(class="square")
      img(src="/images/bishop2.png", alt="settings-icon")
    div(class="square black")
      img(src="/images/knight2.png", alt="settings-icon")
    div(class="square")
      img(src="/images/rook2.png", alt="settings-icon")

    div(class="square")
      img(src="/images/pawn2.png", alt="settings-icon")
    div(class="square black")
      img(src="/images/pawn2.png", alt="settings-icon")
    div(class="square")
      img(src="/images/pawn2.png", alt="settings-icon")
    div(class="square black")
      img(src="/images/pawn2.png", alt="settings-icon")
    div(class="square")
      img(src="/images/pawn2.png", alt="settings-icon")
    div(class="square black")
      img(src="/images/pawn2.png", alt="settings-icon")
    div(class="square")
      img(src="/images/pawn2.png", alt="settings-icon")
    div(class="square black")
      img(src="/images/pawn2.png", alt="settings-icon")

    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")

    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")

    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")

    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")
    div(class="square")
    div(class="square black")

    div(class="square black")
      img(class="player" src="/images/pawn.png", alt="settings-icon")
    div(class="square")
      img(class="player" src="/images/pawn.png", alt="settings-icon")
    div(class="square black")
      img(class="player" src="/images/pawn.png", alt="settings-icon")
    div(class="square")
      img(class="player" src="/images/pawn.png", alt="settings-icon")
    div(class="square black")
      img(class="player" src="/images/pawn.png", alt="settings-icon")
    div(class="square")
      img(class="player" src="/images/pawn.png", alt="settings-icon")
    div(class="square black")
      img(class="player" src="/images/pawn.png", alt="settings-icon")
    div(class="square")
      img(class="player" src="/images/pawn.png", alt="settings-icon")

    div(class="square")
      img(class="player" src="/images/rook.png", alt="settings-icon")
    div(class="square black")
      img(class="player" src="/images/knight.png", alt="settings-icon")
    div(class="square")
      img(class="player" src="/images/bishop.png", alt="settings-icon")
    div(class="square black")
      img(class="player" src="/images/king.png", alt="settings-icon")
    div(class="square")
      img(class="player" src="/images/queen.png", alt="settings-icon")
    div(class="square black")
      img(class="player" src="/images/bishop.png", alt="settings-icon")
    div(class="square")
      img(class="player" src="/images/knight.png", alt="settings-icon")
    div(class="square black")
      img(class="player" src="/images/rook.png", alt="settings-icon")

block timer
  div(id="timer")
    div(class="active-time")
      p Time:
      div(id="pc-timer") 
          p Computer: 
            h1 6:00
      div(id="player-timer")  
          p Player: 
            h1 6:00
      button(id="start" type="button") Start 
  

block settings
  div(class="settings")
    img(src="/images/cog3.png", alt="settings-icon")