extends layout

block main
  main(id="game")
    div(class="game-board")
      //- file: 8
      div(class="square black" data-id="a8")
        img(src="/images/rook2.png", alt="settings-icon")
      div(class="square" data-id="b8")
        img(src="/images/knight2.png", alt="settings-icon")
      div(class="square black" data-id="c8")
        img(src="/images/bishop2.png", alt="settings-icon")
      div(class="square" data-id="d8")
        img(src="/images/king2.png", alt="settings-icon")
      div(class="square black" data-id="e8")
        img(src="/images/queen2.png", alt="settings-icon")
      div(class="square" data-id="f8")
        img(src="/images/bishop2.png", alt="settings-icon")
      div(class="square black" data-id="g8")
        img(src="/images/knight2.png", alt="settings-icon")
      div(class="square" data-id="h8")
        img(src="/images/rook2.png", alt="settings-icon")

      //- file: 7
      div(class="square" data-id="a7")
        img(src="/images/pawn2.png", alt="settings-icon")
      div(class="square black" data-id="b7")
        img(src="/images/pawn2.png", alt="settings-icon")
      div(class="square" data-id="c7")
        img(src="/images/pawn2.png", alt="settings-icon")
      div(class="square black" data-id="d7")
        img(src="/images/pawn2.png", alt="settings-icon")
      div(class="square" data-id="e7")
        img(src="/images/pawn2.png", alt="settings-icon")
      div(class="square black" data-id="f7")
        img(src="/images/pawn2.png", alt="settings-icon")
      div(class="square" data-id="g7")
        img(src="/images/pawn2.png", alt="settings-icon")
      div(class="square black" data-id="h7")
        img(src="/images/pawn2.png", alt="settings-icon")

      //- file: 6
      div(class="square black" data-id="a6")
      div(class="square" data-id="b6")
      div(class="square black" data-id="c6")
      div(class="square" data-id="d6")
      div(class="square black" data-id="e6")
      div(class="square" data-id="f6")
      div(class="square black" data-id="g6")
      div(class="square" data-id="h6")

      //- file: 5
      div(class="square" data-id="a5")
      div(class="square black" data-id="b5")
      div(class="square" data-id="c5")
      div(class="square black" data-id="d5")
      div(class="square" data-id="e5")
      div(class="square black" data-id="f5")
      div(class="square" data-id="g5")
      div(class="square black" data-id="h5")

      //- file: 4
      div(class="square black" data-id="a4")
      div(class="square" data-id="b4")
      div(class="square black" data-id="c4")
      div(class="square" data-id="d4")
      div(class="square black" data-id="e4")
      div(class="square" data-id="f4")
      div(class="square black" data-id="g4")
      div(class="square" data-id="h4")

      //- file: 3
      div(class="square" data-id="a3")
      div(class="square black" data-id="b3")
      div(class="square" data-id="c3")
      div(class="square black" data-id="d3")
      div(class="square" data-id="e3")
      div(class="square black" data-id="f3")
      div(class="square" data-id="g3")
      div(class="square black" data-id="h3")

      //- file: 2
      div(class="square black" data-id="a2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")
      div(class="square" data-id="b2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")
      div(class="square black" data-id="c2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")
      div(class="square" data-id="d2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")
      div(class="square black" data-id="e2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")
      div(class="square" data-id="f2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")
      div(class="square black" data-id="g2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")
      div(class="square" data-id="h2")
        img(class="player" src="/images/pawn.png", alt="settings-icon")

      //- file: 1
      div(class="square" data-id="a1")
        img(class="player" src="/images/rook.png", alt="settings-icon")
      div(class="square black" data-id="b1")
        img(class="player" src="/images/knight.png", alt="settings-icon")
      div(class="square" data-id="c1")
        img(class="player" src="/images/bishop.png", alt="settings-icon")
      div(class="square black" data-id="d1")
        img(class="player" src="/images/king.png", alt="settings-icon")
      div(class="square" data-id="e1")
        img(class="player" src="/images/queen.png", alt="settings-icon")
      div(class="square black" data-id="f1")
        img(class="player" src="/images/bishop.png", alt="settings-icon")
      div(class="square" data-id="g1")
        img(class="player" src="/images/knight.png", alt="settings-icon")
      div(class="square black" data-id="h1")
        img(class="player" src="/images/rook.png", alt="settings-icon")

    //- block timer
    div(id="timer")
      div(class="active-time")
        p Time:
        div(id="pc-timer") 
            p Computer: 
              h1= locals.time
        div(id="player-timer")  
            p Player: 
              h1= locals.time
        button(id="start" type="button") Start 
      

    //- block settings
    div(class="settings-icon")
      a(href="/settings") 
        img(src="/images/cog3.png", alt="settings-icon")