extends layout

block settings 
  main(id="settings")
    h1 Settings

    div(class="settings")
      form(action="/settings" method="POST")
        ul(class="inputs")
          li
            p Time
            select(name="time")
              option(value="6:00") 6:00
              option(value="7:00") 7:00
              option(value="8:00") 8:00
              option(value="9:00") 9:00
              option(value="10:00") 10:00
          li
            p Theme
            select(name="theme")
              option(value="Light") Light
              option(value="Dark") Dark
          li
            p Language
            select(name="language")
              option(value="en") English
              option(value="es") Spanish
          li
            p Stats
            div
              p Games played: 0
              p Games Won: 0
              p Win Percentage: 0%
        button(type="submit") Submit


    a(href="/")
      button Return to Home
